name: Deploy Laravel Backend (Self-Hosted Runner)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, hng-portal-be, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, pdo, mysql, openssl, tokenizer, ctype, fileinfo

      - name: Install Composer dependencies
        run: composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader

      - name: Set folder permissions
        run: |
          sudo chown -R ubuntu:ubuntu /home/ubuntu/HNG-Portal-BE
          sudo chmod -R 775 /home/ubuntu/HNG-Portal-BE/storage
          sudo chmod -R 775 /home/ubuntu/HNG-Portal-BE/bootstrap/cache

      - name: Run Laravel optimizations
        run: |
          php artisan config:clear
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
          php artisan optimize

      - name: Run database migrations
        run: php artisan migrate --force

      - name: Restart PHP-FPM and queue worker
        run: |
          sudo systemctl restart php8.2-fpm
          sudo systemctl restart laravel-worker
